@model ELETRICTEL.Models.ProjectDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProjectDetails</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Projects)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Projects.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectKM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectKM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectPostes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectPostes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectART)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectART)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectStreetART)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectStreetART)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Engineers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Engineers.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RCommercial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RCommercial.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RResponsible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RResponsible.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Protocol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Protocol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProtocolTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProtocolTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovedTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovedTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
