@model IEnumerable<ELETRICTEL.Models.Company>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-success" asp-action="Create"><i class="bi bi-pencil-square"></i> &nbsp;Adicionar</a>
</p>
<div class="text-center">
    <table class="table table-striped table-hover" id="empresasTable">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Razao)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Fantasia)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.CNPJ)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.Razao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fantasia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CNPJ)
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <a role="button" class="btn btn-light" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-gear"></i> &nbsp;Editar</a>
                            <a role="button" class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-journal-code"></i> &nbsp;Detalhes</a>
                            <a role="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash3"></i> &nbsp;Apagar</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
