@model ELETRICTEL.Models.Projects

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Projects</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Types)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Types.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.Razao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectKM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectKM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectPostes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectPostes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectART)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectART)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectStreetART)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectStreetART)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Engineers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Engineers.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RCommercial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RCommercial.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RResponsible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RResponsible.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Protocol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Protocol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProtocolTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProtocolTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovedTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovedTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChangeTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChangeTime)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
